@CHARSET "ISO-8859-1";

html 
{
	margin: 0;
	padding: 0;
	color: #000;
	background: #a7a09a;
}

#wrap 
{
	width: 1024px;
	margin: 0 auto;
	background: #99c;
}

#header 
{
	padding: 5px 10px;
	background: #ddd;
}

h1 
{
	margin: 0;
}

#nav 
{
	padding: 5px 10px;
	background: #c99;
}

#nav ul 
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li 
{
	display: inline;
	margin: 0;
	padding: 10px;
}

#main 
{
	float: left;
	width: 784px;
	padding: 10px;
	background: #9c9;
}

h2 
{
	margin: 0 0 1em;
}

#sidebar 
{
	float: left;
	width: 200px;
	padding: 10px;
	background: #99c;
}

#footer 
{
	clear: both;
	padding: 5px 10px;
	background: #cc9;
}

#footer p 
{
	margin: 0;
}

* html #footer 
{
	height: 1px;
}
