#main{
	position: fixed; 
	text-align:center;
	top: 0em; 
	right: 0em; 
	left:0em;
	background-color: #FFEBAA; 
	width:100%; 
	height:30%;
	min-height:150px;
}

#search{
	text-align: left;
	font-size:small;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #2e2e2c;
	position: absolute;
	top: 1em;
	left: 1em;
	display: inline-block;
}

#ticket{
	font-size:small;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #2e2e2c;
	position: absolute;
	top: 3em;
	left: 1em;
	display: inline-block;
}

#logo{
	height:150%;
	min-height:100px;
}

#cart{
	position:absolute;
	right:1em;
	top: 1em;
	width:40px;
	display:block;
}

a:hover{
	text-decoration: underline;
}

a{
	color: #2e2e2c;
	text-decoration: none;
}

#qty{
	font-size: small;
	position:absolute;
	right: 4.25em;
	top: 2.25em;
	display:block;
	text-decoration: none;
}

#login{
	font-size: small;
	position:absolute;
	right: 1em;
	top: 2em;
	display:block;
}
#logout{
	font-size: small;
	position:absolute;
	right: -.5em;
	top: 2em;
	display:block;
}

.submit{
	color: #2e2e2c;
	pading: 1px 10px;
}