@CHARSET "UTF-8";

#container{
	text-align: center;
	width:95%;
	position:absolute;
	bottom:0;
	top:40%;
}

#product{
	box-sizing:border-box;
	border-style:solid;
	border-color:#3f3f3f;
	background:white;
	width:200px;
	margin-left:20px;
	margin-right:20px;
	margin-top:20px;
	margin-bottom:20px;
	display:inline-block;
}

#catagory{
	font-size:small;
	display:inline-block;
}

#cart{
	
}