<?xml version="1.0" encoding="UTF-8" ?>
<jsp:root 	xmlns:jsp="http://java.sun.com/JSP/Page"
			xmlns:f="http://java.sun.com/jsp/jstl/fmt"
			xmlns:c="http://java.sun.com/jsp/jstl/core" version="2.0">  
	<jsp:directive.page contentType="text/html; charset=UTF-8" 
		pageEncoding="UTF-8" session="false"/>
	<jsp:output doctype-root-element="html"
		doctype-public="-//W3C//DTD XHTML 1.0 Transitional//EN"
		doctype-system="http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
		omit-xml-declaration="true" />
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="StyleSheet" href="${pageContext.request.contextPath}/res/main.css" type="text/css" />
</head>
<body>
	<div id="container">
	<br/><br/>
	<c:if test="${empty loginDef}">
		<FIELDSET>
			<LEGEND>User Authentication</LEGEND>
			<form method="post" action="">
			<label for="user">User Name</label>
			<input type="text" name="user"/><br/>
			<label for="password">Password</label>
			<input type="password" name="pass"/><br/>
			<input type="submit" name="login" value="Log In" />
			</form>
		</FIELDSET>
	</c:if>
	<c:if test="${not empty loginDef}">
				<FIELDSET>
				<LEGEND>User Authentication</LEGEND>
				<p>You have successfully signed in!</p>
				<form method ="post" action="">
				<input type="submit" name="continue" value="Continue Shopping"/>
				</form>
				</FIELDSET>
	</c:if>
	</div>
</body>
</html>
</jsp:root>